        {% include "estadisticasOcupacion/header.html" %}


<!-- Start Formoid form-->
<link rel="stylesheet" href="/static/formoid-solid-blue.css" type="text/css" />
<script type="text/javascript" src="/static/jquery.min.js"></script>
<form class="formoid-solid-blue" style="background-color:#FFFFFF;font-size:14px;font-family:'Roboto',Arial,Helvetica,sans-serif;color:#34495E;max-width:480px;min-width:150px" method="post" action="/estadisticas/estadisticasOcupacion/">
        {% csrf_token %}
	<div class="title">
		<h2 style="text-align: center">Sanatorio San Lucas</h2>
		<h2 style="text-align: center">Ingrese al Sistema</h2>

	</div>
	<div class="element-input">
		<label class="title"></label>
			<div class="item-cont" align="center" style="font-size: 20px">
				<p style="color:red;">{{ MENSAJE }} <br/>{{ MENSAJE2 }}</p>
			</div></div>
<div class="submit">
	<input type="submit" name="commit" value="Salir"/>
</div>

</form>
</body>
</html>


